# Especificación de conexión de pines. <puerto> es un puerto de un bit o un bit dentro de un puerto multibit en la entidad
# <nr.pin> es un número de pin de la FPGA (Ver al final como se conectan los pines de la ICE40H4K a los terminales de la placa edu-ciaa-fpga)
# set_io [-pullup yes|no] <puerto> <nr.pin>

# > ejemplo, puerto A conectado a pin 31 de la FPGA
# set_io A 31
# > ejemplo, pin 4 de puerto B conectado a pin 32 de la FPGA
# set_io B[4] 32


# Pines EDU-CIAA-FPGA
# Reloj 12 MHz : 94
# 
# UART Virtual
#     Rx  Tx RTS CTS DTR DSR DCD
#     55  56  60  61  62  63  64 
#
# LED[D3:D6]
#      4   3   2   1
#
# Pulsadores[S1:S4]
#     31  32  33  34
#
# J2 GND GND 142 141 138 136 134 129 125 122 *
#    144 143  NC GND 139 137 135 130 128 124
#
# J3  80  89  84  95  97  99 105 107 *
#     79  81  83  85  96  98 104 106
#
# J4  * NC  5V  37 3V3  5V GND GND  5V 
#
# J5 3V3 GND  11  12  15  16 *
#    3V3 GND   7   8   9  10
#
# J6 3V3 GND  21  22  23  24 *
#    3V3 GND  17  18  19  20
#
# * : pin 1 del conector